@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        box-shadow: inset $top $left $blur $color;
    } @else {
        box-shadow: $top $left $blur $color;
    }
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin border-radius($all: null, $tl: $all, $tr: $all, $btl: $all, $btr: $all) {
    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-right-radius: $btr;
    border-bottom-left-radius: $btl;
}

@mixin centerAbsolute($pos) {
    position: absolute;

    @if $pos == 'both' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if $pos == 'left' {
        left: 50%;
        transform: translateX(-50%);
    } @else if $pos == 'top' {
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin flex($direction: row, $content: null, $items: null, $wrap: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
}

@mixin columnObject($gap, $columnName, $columnMax) {
    [class*='col-'] {
        display: block;

        padding-left: $gap;
        padding-right: $gap;
    }

    @for $i from 0 through $columnMax {
        .col-#{$columnName}-#{$i} {
            @if ($i == 0) {
                display: none;
            } @else {
                $width: 1% * $i * 100 / 12;

                flex: 0 0 $width;
                max-width: $width;
            }
        }
    }

    @for $i from 1 through ($columnMax - 1) {
        .col-#{$columnName}-o-#{$i} {
            $width: 1% * $i * 100 / 12;

            margin-left: $width;
        }
    }
}

@mixin screen($min-width, $max-width: 0) {
    @if ($max-width > 0) {
        @media (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }
    } @else {
        @media (min-width: $min-width) {
            @content;
        }
    }
}
