$bp-tablet: convertPxToEm(map-get($breakpoints, tablet));
$bp-pc: convertPxToEm(map-get($breakpoints, pc));

$fs-normal: map-get($typography, normal) * 1rem;

// ----------------------------------------------------

$primary-color: map-deep-get($color, _brand, 'primary');

$black-color: map-deep-get($color, _black, primary);
$white-color: map-deep-get($color, _white, primary);
$gray-color: map-deep-get($color, _gray, primary);

$text-color: map-deep-get($color, _text, primary);

// ----------------------------------------------------

$header-height: 80px;

// ----------------------------------------------------

:root {
  --font-family-normal: 'Pattaya', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-heading: 'Satisfy', 'Segoe UI', cursive;
}

:root {
  --primary-color: #{$primary-color};

  --black-color: #{$black-color};
  --white-color: #{$white-color};
  --gray-color: #{$gray-color};

  --text-color: #{$text-color};
}
