// mobile first
$breakpoints: (
  tablet: 760,
  pc: 1200,
);

$typography: (
  normal: 1.5,
);

$color: (
  _black: (
    primary: #000,
  ),
  _white: (
    primary: #fff,
  ),
  _gray: (
    primary: #666,
  ),
  _text: (
    primary: #333,
  ),
  _brand: (
    primary: blue,
  ),
);
