.header {
  position: relative;
  height: 100vh;

  background-color: rgb(114, 93, 211);
  color: var(--white-color);
  user-select: none;

  &__logo {
    display: block;
    padding: 10px 0;
    height: $header-height;

    & > img {
      height: 100%;
    }
  }

  &__banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background: url(../img/background/doi-che-moc-chau-viratour-1.jpg);
    background-size: cover;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__banner-text {
    @include centerAbsolute('both');
    padding: 100px 150px;

    text-align: center;
    box-shadow: 5px -10px 10px rgba(0, 0, 0, 0.4), -5px 5px 30px rgba(0, 0, 0, 0.4);

    h3 {
      margin-bottom: 10px;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 400;
    }

    h1 {
      font-family: var(--font-family-heading);
      font-size: 120px;
      letter-spacing: 9.5px;
    }
  }

  & > div:first-child {
    @include flex(row, space-between, center);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
